<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/syntax.css" rel="stylesheet" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1582432-8', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <h1>§ {{ page.title }}</h1>
  <span class="meta"><date>{{ page.date | date_to_string }}</date> | <a class="author" href="https://twitter.com/AntonKril">Anton Kril</a></span>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="AntonKril">Tweet</a>
  <div class="post">
  {{content}}
  </div>
  <nav class="post-nav">
    <ul>
      <li class="prev">
        {% if page.previous %}
          <a href="{{page.previous.url}}">&larr; {{page.previous.title}}</a>
        {% endif %}
      </li>
      <li class="to-list">
        <a href="/">Index</a>
      </li>
      <li class="next">
        {% if page.next %}
          <a href="{{page.next.url}}">{{page.next.title}} &rarr;</a>
        {% endif %}
      </li>
    </ul>
  </nav>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
